.footer {
  background-color: #FFF8FE;

  &__content {
    display: flex;
    flex-direction: column;
    padding-top: 44px;
    padding-right: 90px;
    gap: 80px;
    padding-bottom: 40px;
  }

  &__table {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__item {
    color: #2D0027;
    opacity: 0.5;
    font-size: 15px;
  }

  &__list &__item:first-child {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 10px;
  }

  &__link {
    text-decoration: none;
    color: #2D0027;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__copyright {
    font-size: 15px;
    color: #2D0027;
    opacity: 0.3;
  }

  &__social-number {
    display: flex;
    gap: 160px;
  }

  &__social {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__icon-vk {
    opacity: 0.3;
    background: url('../img/vk.svg') no-repeat;
    width: 25px;
    height: 14px;
  }

  &__icon-vk:hover {
    opacity: 1;
    background: url('../img/vk-2.svg') no-repeat;
  }

  &__icon-fb {
    opacity: 0.3;
    background: url('../img/fb.svg') no-repeat;
    width: 20px;
    height: 18px;
  }

  &__icon-fb:hover {
    opacity: 1;
    background: url('../img/fb-2.svg') no-repeat;
  }

  &__icon-inst {
    opacity: 0.3;
    background: url('../img/inst.svg') no-repeat;
    width: 20px;
    height: 18px;
  }

  &__icon-inst:hover {
    opacity: 1;
    background: url('../img/inst-2.svg') no-repeat;
  }

  &__icon-tg {
    opacity: 0.3;
    background: url('../img/tg.svg') no-repeat;
    width: 22px;
    height: 17px;
  }

  &__icon-tg:hover {
    opacity: 1;
    background: url('../img/tg-2.svg') no-repeat;
  }

  &__number {
    font-size: 22px;
    font-weight: bold;
    color: #2D0027;
    opacity: 0.5;

  }

}