body {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
}

// font-family: 'Exo 2', sans-serif;
// font-family: 'Open Sans', sans-serif;

// Общие Элементы/блоки 

// Слайдер 

.slider {
  overflow: hidden;
  background-color: #fff;
  position: relative;
}

.slider__track {

  display: flex;
  transition: .5s;
}

.slider__item {
  height: 100%;
  position: relative;
}



// Навигационные точки

.slider__dots {
  display: flex;
  align-items: center;
  gap: 11px;
  left: 46%;
  height: 16px;
}

.slider__dot {
  width: 10px;
  height: 10px;
  padding: 1px;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.slider__dot:focus {
  width: 13px;
  height: 13px;
  opacity: 1;
}

// Кнопки Лево-Право 

.button-left,
.button-right {
  position: absolute;
  width: 48px;
  height: 45px;
  background: #FFF8FE;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.button-left {
  left: -2px;
}

.button-right {
  right: -2px;
}

.button-left::before,
.button-right::before {
  position: absolute;
  content: '';
  top: 35%;
  right: 25%;
  width: 12px;
  height: 12px;
  border-right: 2.5px solid #A0148E;
  border-top: 2.5px solid #A0148E;
  transform: rotate(225deg);
}

.button-right::before {
  right: 40%;
  transform: rotate(45deg);
}

// Заголовок 2го уровня
.title-h2 {
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;
  font-size: 30px;
  color: #2D0027;
}



.preview {
  margin-bottom: 52px;

  &__image {
    border-radius: 3px;
    width: auto;
  }

  &__gradient::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #160013 0%, rgba(22, 0, 19, 0) 100%);
    opacity: 0.3;
  }

  &__description {
    position: absolute;
    top: 6%;
    left: 9%;
    color: #ffffff;
    font-family: "Exo 2", sans-serif;
  }

  &__title {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: -47px;
  }

  &__subtitle {
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 35px;
  }

  &__new-price {
    background-color: #ffffff;
    border-radius: 2px;
    color: #A0148E;
    margin-right: 5px;
    padding: 5px 13px 7px 12px;
    font-size: 30px;
    font-weight: bold;
  }

  &__old-price {
    text-decoration: 1px line-through;
    font-size: 30px;
    font-weight: bold;
    padding: 5px 13px 7px 12px;
  }

  &__dots {
    position: absolute;
    bottom: 9%;
  }

  &__dot {
    background: #FFFFFF;
    opacity: 0.3;
  }

  &__dot-active {
    width: 13px;
    height: 13px;
    opacity: 1;
  }

  &__button-left,
  &__button-right {
    top: 45%;
  }

  @include media-down(md) {
    padding: 0 20px;
  }
}


.categories {
  height: 332px;

  &__title {
    margin-bottom: 42px;
  }

  &__block {
    display: grid;
    grid-template-columns: repeat(4, 283px);
    column-gap: 26px;
    position: relative;
  }

  &__item {
    border-radius: 3px;
    position: relative;
    height: 210px;
  }

  &__item::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 1px;
    background: linear-gradient(180.17deg, rgba(82, 0, 71, 0) 39.47%, rgba(82, 0, 71, 0.85) 67.19%);
    opacity: 0.5;
    border-radius: 3px;
  }

  &__subtitle {
    position: absolute;
    top: 63%;
    text-align: center;
    width: 100%;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
    z-index: 1;
  }

  &__dots {
    position: absolute;
    bottom: -20%;
  }

  &__dot {
    background: #A0148E;
    opacity: 0.15;
  }

  &__dot:focus {
    width: 13px;
    height: 13px;
    opacity: 1;
  }

  &__button-left,
  &__button-right {
    top: 39%;
  }
}

.products {
  margin-bottom: 100px;

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 283px);
    gap: 26px;
    position: relative;
  }

  &__item {
    position: relative;
    padding: 39px 38px 30px 26px;
    border: 3px solid #FFF8FE;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  &__item:nth-of-type(2) {
    justify-content: flex-start;
  }

  &__item:nth-of-type(3),
  &__item:nth-of-type(4) {
    justify-content: center;
  }

  &__points {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 12px;
    top: 4%;
    right: 8%;
    opacity: 0.3;
  }

  &__img-text {
    text-align: center;
  }

  &__subtitle {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #2D0027;
    width: 250px;
  }

  &__price-pic {
    display: flex;
    gap: 10px;
  }

  &__price {
    position: relative;
    background: #FFF8FE;
    border-radius: 2px;
    padding-top: 3px;
    text-align: center;
    color: #2D0027;
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    width: 88px;
    height: 45px;
  }

  &__item:first-of-type &__price {
    color: #A0148E;
    line-height: 30px;
  }

  &__item:first-of-type &__price::before {
    content: '18980 ₽';
    position: absolute;
    font-weight: bold;
    font-size: 11px;
    color: #2D0027;
    opacity: 0.3;
    bottom: -5%;
    left: 27%;
    text-decoration: line-through;
  }

  &__pic {
    padding: 10px;
    border: 3px solid #F7ECF5;
    border-radius: 2px;
  }

  &__link {
    text-decoration: none;
  }

  &__dots {
    position: absolute;
    bottom: -10%;
  }

  &__dot {
    background: #A0148E;
    opacity: 0.15;
  }

  &__dot-active {
    width: 13px;
    height: 13px;
    opacity: 1;
  }

  &__button-left,
  &__button-right {
    bottom: 43%;
  }

}

.tools {
  margin-bottom: 100px;

  &__title {
    margin-bottom: 55px;
  }

  &__list {
    display: grid;
    position: relative;
    grid-template-columns: repeat(5, 1fr);

  }

  &__tool {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  &__description {
    text-align: center;
    font-size: 15px;
    line-height: 33px;
    color: #2D0027;
    opacity: 0.5;
  }

  &__line {
    width: 100%;
    height: 110px;
    position: absolute;
    bottom: -6%;
    left: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 69.27%);
    border: none;
    outline: none;
  }

  &__line:before {
    content: '';
    position: absolute;
    top: 39%;
    left: 49.5%;
    width: 12px;
    height: 12px;
    border-left: 2.5px solid #A0148E;
    border-top: 2.5px solid #A0148E;
    transform: rotate(225deg);

  }

  &__dots {
    position: absolute;
    bottom: -15%;
  }

  &__dot {
    background: #A0148E;
    opacity: 0.15;
  }

  &__dot-active {
    width: 13px;
    height: 13px;
    opacity: 1;
  }

  &__button-left,
  &__button-right {
    bottom: 65%;
  }
}

.preview-down {
  margin-bottom: 60px;

  &__list {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    column-gap: 27px;
  }

  &__item {
    position: relative;
  }

  &__image {
    border-radius: 3px;
  }

  &__description {
    position: absolute;
    top: 4%;
    left: 12%;
    color: #ffffff;
    font-family: "Exo 2", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 85%;

  }

  &__title {
    font-size: 20px;
    text-transform: uppercase;

  }

  &__subtitle {
    margin-top: -160px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
  }

  &__price {
    background-color: #ffffff;
    border-radius: 2px;
    color: #A0148E;
    padding: 5px 13px 7px 12px;
    font-size: 30px;
    font-weight: bold;
  }

  &__item:nth-of-type(2) &__title {
    font-size: 30px;
    margin: 25px;
  }

  &__item:nth-of-type(2) &__subtitle {
    font-size: 60px;
    margin-top: -120px;
  }

}


.brands {
  margin-bottom: 90px;

  &__title {
    margin-bottom: 40px;
  }

  &__table {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    align-items: center;
    row-gap: 20px;
  }

  &__subtitle {
    font-weight: bold;
    font-size: 15px;
    color: #2D0027;
  }
}