{% extends "templates/default.html" %}
{% set title = "Главная" %}
{% from 'includes/marcos.html' import card, products, sorts %}

{% set items = [
{ src:'classic', subtitle:'Классические гитары' },
{ src:'synthes', subtitle:"Синтезаторы" },
{ src:'electro', subtitle:"Электрогитары" },
{ src:'powerer', subtitle:"Усилители" }
] %}

{% set goods = [
{ src:'classic_gutair', description:'011C Гитара<br> классическая 4/4, Doff'},
{ src:'classic_gutair2', description:'011C Гитара<br>
классическая 4/4, Doff' },
{ src:'table', description: '185-STAY 1100/02 Slim<br>
Стойка-колонна для клавиш...' },
{ src:'dig_piano', description:'438PIA0703 Stage Studio
Цифровое пианино, черное' }
] %}

{% set sortOfgoods = [
{ src: 'string', subtitle: 'Струнные', description: 'Классические гитары <br>
Акустические гитары <br>
Акустические бас-гитары<br>
Электрогитары <br>
Бас-гитары <br>
Укулеле' },
{ src: 'keyboards', subtitle: 'Клавишные', description: ' Синтезаторы<br>
Цифровые пианино<br>
Цифровые органы<br>
Акустические клавишные <br>
инструменты<br>
MIDI-клавиатуры' },
{ src: 'drums', subtitle: 'Ударные', description: 'Акустические ударные<br>
Электронные ударные<br>
Тарелки<br>
Стойки<br>
Рамы<br>
Педали' },
{ src: 'winds', subtitle: 'Духовые', description: ' Блок-флейты<br>
Флейты<br>
Саксофоны<br>
Кларнеты<br>
Трубы<br>
Тромбоны' },
{ src: 'reeds', subtitle: 'Язычковые', description: ' Блок-флейты<br>
Флейты<br>
Саксофоны<br>
Кларнеты<br>
Трубы<br>
<br>' }
] %}

{% block content %}

<main>
  <div class='container'>
    <section class="preview">

      <div class="slider">
        <div class="slider__track" data-glide-el="track">
          <div class="slider__item">
            <div class='preview__gradient'>
              <img class='preview__image' src="img/preview.jpg" alt="">
            </div>
            <div class='preview__description'>
              <h4 class='preview__title'>акустическая гитара</h4>
              <p class='preview__subtitle'>ad810-bks <br> standard series</p>
              <div class='preview__price'>
                <span class='preview__new-price'>12 350 ₽</span>
                <span class='preview__old-price'>16 350 ₽</span>
              </div>
            </div>
          </div>
          <!-- <div class="slider__item">
            <div class='preview__gradient'>
              <img class='preview__image' src="img/preview.jpg" alt="">
            </div>
            <div class='preview__description'>
              <h4 class='preview__title'>акустическая гитара</h4>
              <p class='preview__subtitle'>ad810-bks <br> standard series</p>
              <div class='preview__price'>
                <span class='preview__new-price'>12 350 ₽</span>
                <span class='preview__old-price'>16 350 ₽</span>
              </div>
            </div>
          </div>
          <div class="slider__item">
            <div class='preview__gradient'>
              <img class='preview__image' src="img/preview.jpg" alt="">
            </div>
            <div class='preview__description'>
              <h4 class='preview__title'>акустическая гитара</h4>
              <p class='preview__subtitle'>ad810-bks <br> standard series</p>
              <div class='preview__price'>
                <span class='preview__new-price'>12 350 ₽</span>
                <span class='preview__old-price'>16 350 ₽</span>
              </div>
            </div>
          </div>
          <div class="slider__item">
            <div class='preview__gradient'>
              <img class='preview__image' src="img/preview.jpg" alt="">
            </div>
            <div class='preview__description'>
              <h4 class='preview__title'>акустическая гитара</h4>
              <p class='preview__subtitle'>ad810-bks <br> standard series</p>
              <div class='preview__price'>
                <span class='preview__new-price'>12 350 ₽</span>
                <span class='preview__old-price'>16 350 ₽</span>
              </div>
            </div>
          </div>
          <div class="slider__item">
            <div class='preview__gradient'>
              <img class='preview__image' src="img/preview.jpg" alt="">
            </div>
            <div class='preview__description'>
              <h4 class='preview__title'>акустическая гитара</h4>
              <p class='preview__subtitle'>ad810-bks <br> standard series</p>
              <div class='preview__price'>
                <span class='preview__new-price'>12 350 ₽</span>
                <span class='preview__old-price'>16 350 ₽</span>
              </div>
            </div>
          </div> -->
        </div>
        <div class="slider__arrows">
          <button class=" btn__left button-left preview__button-left "></button>
          <button class=" btn__right button-right preview__button-right"></button>
        </div>
        <div class="dots slider__dots preview__dots" data-glide-el="controls[nav]">
          <button class='slider__dot preview__dot' data-glide-dir="=0"></button>
          <button class='slider__dot preview__dot' data-glide-dir="=1"></button>
          <button class='slider__dot preview__dot' data-glide-dir="=2"></button>
          <button class='slider__dot preview__dot' data-glide-dir="=3"></button>
          <button class='slider__dot preview__dot' data-glide-dir="=4"></button>
        </div>
      </div>


    </section>

    <section class='categories'>
      <div class='container'>
        <h2 class='categories__title title-h2'>популярные категории</h2>
        <div class="slider">
          <div class='categories__block slider__track'>
            {% for item in items %}
            {{ card(item.src, item.subtitle) }}
            {% endfor %}
          </div>
          <div class="categories__fog"></div>
          <button class='btn__left button-left categories__button-left'></button>
          <button class='btn__right button-right categories__button-right'></button>
          <div class="slider__dots categories__dots">
            <button class='slider__dot products__dot'></button>
            <button class='slider__dot products__dot'></button>
            <button class='slider__dot products__dot'></button>
            <button class='slider__dot products__dot'></button>
            <button class='slider__dot products__dot'></button>
          </div>
        </div>
      </div>
    </section>

    <section class='products'>
      <div class='container'>
        <h2 class='product__title title-h2'>популярные товары</h2>
        <div class='products__list'>
          {% for good in goods %}
          {{ products(good.src, good.description) }}
          {% endfor %}
          <button class='btn__left button-left products__button-left'></button>
          <button class='btn__right button-right products__button-right'></button>
          <div class="slider__dots products__dots">
            <button class='slider__dot products__dot products__dot-active'></button>
            <button class='slider__dot products__dot'></button>
            <button class='slider__dot products__dot'></button>
            <button class='slider__dot products__dot'></button>
            <button class='slider__dot products__dot'></button>
          </div>
        </div>
      </div>
    </section>

    <section class='tools'>
      <div class='container'>
        <h2 class='tools__title title-h2'>инструменты по видам</h2>
        <div class='tools__list'>
          {% for sortOfgood in sortOfgoods %}
          {{ sorts(sortOfgood.src, sortOfgood.subtitle, sortOfgood.description) }}
          {% endfor %}
          <button class='tools__line'></button>
          <button class='btn__left button-left tools__button-left'></button>
          <button class='btn__right button-right tools__button-right'></button>
          <div class="slider__dots tools__dots">
            <button class='slider__dot tools__dot tools__dot-active'></button>
            <button class='slider__dot tools__dot'></button>
            <button class='slider__dot tools__dot'></button>
            <button class='slider__dot tools__dot'></button>
            <button class='slider__dot tools__dot'></button>
          </div>
        </div>
      </div>
    </section>

    <section class='preview-down'>
      <div class="container">
        <div class="preview-down__list">
          <div class='preview-down__item'>
            <img class='preview-down__image' src="img/saksaf.jpg" alt="">
            <div class='preview-down__description'>
              <h4 class='preview-down__title'>саксофон</h4>
              <p class='preview-down__subtitle'>Selmer Super<br> Action 80</p>
              <span class='preview-down__price'>16 450 ₽</span>
            </div>
          </div>
          <div class='preview-down__item'>
            <img src="img/electro_piano.jpg" alt="">
            <div class='preview-down__description'>
              <h4 class='preview-down__title'>электронное пианино</h4>
              <p class='preview-down__subtitle'> CASIO CDP 320k</p>
              <span class='preview-down__price'>38 890 ₽</span>
            </div>
          </div>
          <div class='preview-down__item'>
            <img src="img/electro_gutair.jpg" alt="">
            <div class='preview-down__description'>
              <h4 class='preview-down__title'>электрогитара</h4>
              <p class='preview-down__subtitle'>Ibanez RG450<br> Japan 2001</p>
              <span class='preview-down__price'>49 990 ₽</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class='brands'>
      <div class='container'>
        <h2 class='brands__title title-h2'>популярные бренды</h2>
        <ul class='brands__table'>
          <li class='brands__subtitle'>Струнные</li>
          <li class='brands__subtitle'>Клавишные</li>
          <li class='brands__subtitle'>Ударные</li>
          <li class='brands__subtitle'>Духовые</li>
          <li class='brands__subtitle'>Язычковые</li>
          <li><a href="#"><img src="img/yamaha.png" alt=""></a></li>
          <li><a href="#"><img src="img/JBL.png" alt=""></a></li>
          <li><a href="#"><img src="img/avir.png" alt=""></a></li>
          <li><a href="#"><img src="img/shuiskay.png" alt=""></a></li>
          <li><a href="#"><img src="img/ritmix.png" alt=""></a></li>
          <li><a href="#"><img src="img/shure.png" alt=""></a></li>
          <li><a href="#"><img src="img/Alice.png" alt=""></a></li>
          <li><a href="#"><img src="img/art.png" alt=""></a></li>
          <li><a href="#"><img src="img/tulskay.png" alt=""></a></li>
          <li><a href="#"><img src="img/rombica.png" alt=""></a></li>
          <li><a href="#"><img src="img/casio.png" alt=""></a></li>
          <li><a href="#"><img src="img/allen&health.png" alt=""></a></li>
          <li><a href="#"><img src="img/amc.png" alt=""></a></li>
          <li><a href="#"><img src="img/mozer.png" alt=""></a></li>
          <li><a href="#"><img src="img/roland.png" alt=""></a></li>
          <li><a href="#"><img src="img/Ibanez.png" alt=""></a></li>
          <li><a href="#"><img src="img/audix.png" alt=""></a></li>
          <li><a href="#"><img src="img/amate.png" alt=""></a></li>
          <li><a href="#"><img src="img/xvive.png" alt=""></a></li>
          <li><a href="#"><img src="img/qumo.png" alt=""></a></li>
          <li><a href="#"><img src="img/KORG.png" alt=""></a></li>
          <li><a href="#"><img src="img/arthur_forty.png" alt=""></a></li>
          <li><a href="#"><img src="img/audio-technica.png" alt=""></a></li>
          <li><a href="#"><img src="img/vivaRhythm.png" alt=""></a></li>
          <li><a href="#"><img src="img/pioneer.png" alt=""></a></li>
        </ul>
      </div>
    </section>
  </div>
</main>

{% endblock %}