{% extends "templates/default.html" %}
{% set title = "Главная" %}

{% block content %}

<main>
  <div class='container'>
    <section class="preview">
      <img class='preview__image' src="/img/preview.jpg" alt="">
      <div class='preview__description'>
        <h4 class='preview__title'>акустическая гитара</h4>
        <p class='preview__subtitle'>ad810-bks <br> standard series</p>
        <div class='preview__price'>
          <span class='preview__new-price'>12 350 ₽</span>
          <span class='preview__old-price'>16 350 ₽</span>
        </div>
      </div>
      <div class='buttons'>
        <button class='button-left'></button>
        <button class='button-right'></button>
      </div>
      <div class="preview__dots">
        <button class='preview__dot preview__dot-active'></button>
        <button class='preview__dot'></button>
        <button class='preview__dot'></button>
        <button class='preview__dot'></button>
        <button class='preview__dot'></button>
      </div>
    </section>
    <section class='categories'>
      <div class='container'>

      </div>
    </section>





    <section class='products'>
      <div class='container'>

      </div>
    </section>
    <section class='tools'>
      <div class='container'>

      </div>
    </section>
    <section class='brands'>
      <div class='container'>

      </div>
    </section>
  </div>
</main>

{% endblock %}