{% extends "templates/default.html" %}
{% set title = "Главная" %}

{% block content %}

<main>
  <div class='container'>
    <section class="preview">
      <div class='preview__gradient'>
        <img class='preview__image' src="/img/preview.jpg" alt="">
      </div>
      <div class='preview__description'>
        <h4 class='preview__title'>акустическая гитара</h4>
        <h3 class='preview__subtitle'>ad810-bks <br> standard series</h3>
        <div class='preview__price'>
          <span class='preview__new-price'>12 350 ₽</span>
          <span class='preview__old-price'>16 350 ₽</span>
        </div>
      </div>
      <div class='buttons-scroll preview__buttons-scroll'>
        <button class='button-left preview__button-left'></button>
        <button class='button-right preview__button-right'></button>
      </div>
      <div class="dots preview__dots">
        <button class='dot preview__dot preview__dot-active'></button>
        <button class='dot preview__dot'></button>
        <button class='dot preview__dot'></button>
        <button class='dot preview__dot'></button>
        <button class='dot preview__dot'></button>
      </div>
    </section>

    <section class='categories'>
      <div class='container'>
        <h2 class='categories__title title-h2'>популярные категории</h2>
        <div class='categories__block'>
          <div class='categories__item'>
            <img class='categories__image' src="/img/classic.jpg" alt="">
            <h3 class='categories__subtitle'>Классические гитары</h3>
          </div>
          <div class='categories__item'>
            <img class='categories__image' src="/img/synthes.jpg" alt="">
            <h3 class='categories__subtitle'>Синтезаторы</h3>
          </div>
          <div class='categories__item'>
            <img class='categories__image' src="/img/electro.jpg" alt="">
            <h3 class='categories__subtitle'>Электрогитары</h3>
          </div>
          <div class='categories__item'>
            <img class='categories__image' src="/img/powerer.jpg" alt="">
            <h3 class='categories__subtitle'>Усилители</h3>
          </div>
          <div class='buttons-scroll categories__buttons-scroll'>
            <button class='button-left categories__button-left'></button>
            <button class='button-right categories__button-right'></button>
          </div>
          <div class="dots categories__dots">
            <button class='dot categories__dot categories__dot-active'></button>
            <button class='dot categories__dot'></button>
            <button class='dot categories__dot'></button>
            <button class='dot categories__dot'></button>
            <button class='dot categories__dot'></button>
          </div>
        </div>
      </div>
    </section>





    <section class='products'>
      <div class='container'>
        <h2 class='product__title title-h2'>популярные товары</h2>
      </div>
    </section>


    <section class='tools'>
      <div class='container'>
        <h2 class='tools__title title-h2'>инструменты по видам</h2>
      </div>
    </section>

    <section>
      <div class="container">

      </div>
    </section>

    <section class='brands'>
      <div class='container'>
        <h2 class='brands__title title-h2'>популярные бренды</h2>
      </div>
    </section>
  </div>
</main>

{% endblock %}